{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <main role="main">

        <div class="container marketing">

            <div class="row">

                {% for key, summonerMiamInfo in teamMiam %}
                    <div class="col-md-4">
                        <img src="{{  summonerMiamInfo.summonerInfo.iconUrl }}" class="summoner-image rounded d-block mx-auto" alt="...">
                        <h2>{{ key }}</h2>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ summonerMiamInfo.summonerInfo.name }}
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Niveaux
                                <span class="badge badge-primary badge-pill">{{ summonerMiamInfo.summonerInfo.summonerLevel }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {% if summonerMiamInfo.gameInfo %}
                              <p>En game : Oui</p>
                                {% else %}
                                    <p>En game : Non</p>
                                {% endif %}
                            </li>
                        </ul>
                        <div class="div-button-profile">
                            <p class="text-center"><a class="btn btn-secondary btn-block" href="{{ 'http://euw.op.gg/summoner/userName=' ~ summonerMiamInfo.summonerInfo.name }}" role="button">Voir le profil &raquo;</a></p>
                        </div>
                    </div>
                {% endfor %}

            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect fill="#eee" width="100%" height="100%"/><text fill="#aaa" dy=".3em" x="50%" y="50%">500x500</text></svg>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect fill="#eee" width="100%" height="100%"/><text fill="#aaa" dy=".3em" x="50%" y="50%">500x500</text></svg>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect fill="#eee" width="100%" height="100%"/><text fill="#aaa" dy=".3em" x="50%" y="50%">500x500</text></svg>
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->
        <p>test</p>
        <li data-jstree='{"opened":true,"selected":true}'>Root
            <ul>
                <li data-jstree='{"disabled":true}'>Child</li>
                <li data-jstree='{"icon":"//jstree.com/tree.png"}'>
                    Child</li>
                <li data-jstree='{"icon":"glyphicon glyphicon-leaf"}'>
                    Child</li>
            </ul>
        </li>

        <!-- FOOTER -->
        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
    </main>
{% endblock %}
